<ion-header [translucent]="true">
  <ion-toolbar color="purple">
    <ion-title>Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <ion-grid>
    <ion-col side="12" side-md="6" side-lg="4" *ngFor="let i of items">
    <ion-card (click)="gotodetail(i)">
      <img [src]="i.imageurl" alt="">
      <ion-card-header>
        <ion-card-title>
          {{ i.name }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
        {{ i.detail}}
      </ion-list>
      <ion-list>
        {{ i.Price }}
      </ion-list>
      </ion-card-content>
    </ion-card>
    </ion-col>
  </ion-grid>
</ion-content>